# Postgres config
POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_HOST=          # use 'postgres-mda' if you want to use the database instantiated in kubernetes
POSTGRES_PORT=5432
POSTGRES_DB=mda
RESET_DB=false

# Kafka config
KAFKA_HOST=
KAFKA_PORT=9092

# MDA config
NUM_READING_THREADS=10
NUM_AGGREGATION_THREADS=10

# Resources config
OSM_KEY=

# dummy OSM config
MIN_AVAILABILITY=0.90
MAX_AVAILABILITY=0.99